*{
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}

#head{
	min-height: 95vh;
}

.but{
	padding-top: 200px;
	padding-bottom: 100px;
}

.myNav{
	min-width: 100%;
	background: blue;
	/*position: fixed;*/
	position: fixed;
	z-index: 1;
	top: 0%;
	/*left: 100%;*/
	overflow: hidden;
}

.myFoot{
	min-width: 100%;
	/*position: fixed;*/
	position: relative;
	z-index: 1;
	bottom: 0%;
	/*left: 100%;*/
	overflow: hidden;
}